<section class="py-5 hero-banner-section position-relative mb-5">
  <div class="d-flex align-items-center justify-content-center pt-5">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/" class="display-8 text-white fw-bold text-decoration-none text-white">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          <a href="/articles" class="display-8 text-white fw-bold text-decoration-none text-white">Blog</a>
        </li>
      </ol>
    </nav>
  </div>
  <div id="particles-js" class="position-absolute top-0"></div>
</section>
<section class="mb-5">
  <div class="container px-0">
    <div class="row">
      <div class="col-lg-10 col-12 mx-auto">
        <h1 class="display-6 fw-bold text-white mb-5"><%- article.title%></h1>
        <div class="d-flex align-items-center justify-content-between gap-1 mb-4">
          <div class="d-flex align-items-center gap-2">
            <div class="author-container d-flex align-items-center justify-content-center rounded-circle overflow-hidden">
              <img src="<%-article.author.avatar.secure_url%>" alt="<%-article.author.username%>" class="h-100 w-100 object-fit-contain">
            </div>
            <span><%-article.author.username%></span>
          </div>
          <span><%= new Date(article.createdAt).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %></span>
        </div>
        <div class="ratio ratio-16x9 overflow-hidden rounded mb-4">
          <img src="<%-article.image.secure_url%>" alt="<%-article.title%>" class="w-100 h-100 object-fit-cover">
        </div>
        <div class="text-wrap overflow-hidden lh-base mb-5">
          <%- article.content  %>
        </div>
        <div class="d-flex align-items-center gap-2 mb-4 mt-5">
          <h1 class="d-inline-block text-white fs-4 mb-0 fw-medium">Article Tags : </h1>
          <% if (Array.isArray(article.tags) && article.tags.length > 0) { %>
          <% article.tags.forEach(tag => { %>
          <span class="py-1 px-2 text-muted rounded article-tag text-capitalize"><%= tag %></span>
          <% }) %>
          <% } %>
        </div>
        <% if(article.comments.length ){ article.comments=article.comments.reverse() %>
        <div class="mb-4">
          <h1 class="text-white fs-4 fw-medium mb-3">Comments :</h1>
          <section class="comment-section d-flex flex-column gap-1">
            <% article.comments.forEach((data)=>{  %>
            <div class="commant-container">
                <div class="comment-block">
                    <div class="user-comment-container p-3 rounded mb-2" id="<%- data._id  %>">
                        <div class=" d-flex align-items-center gap-2 mb-2">
                            <h6 class="text-white m-0 p-0"><%- data.name %></h6>
                            <span class="m-0 p-0" style="font-size: 12px; font-style: italic;"><%= new Date(data.date).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %></span>
                        </div>
                        <p class="pb-2 mb-0"><%- data.comment %></p>
                    </div>
                </div>
                <% if(data.replies) { %>
                  <div class="ms-4 ms-md-5 mb-4 mt-3">
                    <% data.replies.forEach((reply)=>{%>
                      <div class="reply-container p-3 rounded mb-2" id="reply<%-data._id%>">
                       <div class="d-flex align-items-center gap-2 mb-2">
                         <h6 class="text-white m-0 p-0">
                           <%- reply.username  %>
                         </h6>
                         <span class="m-0 p-0" style="font-size: 12px; font-style: italic;"><%= new Date(reply.date).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %>
                         </span>
                       </div>
                       <p class="pb-2 mb-0"><%-reply.reply %></p>
                      </div>
                    <%})  %>
                  </div>
                <% } %>
            </div>
            <% }) %>
          </section>
        </div>
        <% } %>
        <div class="container px-0">
          <div class="row">
            <div class="col-md-8 col-12 mx-auto">
              <div class="card border-0">
                <div class="card-header border-0 ">
                  <h5 class="mt-2">Leave a comment</h5>
                  <% if (error_msg.length > 0) { %>
                  <div class="custom-alert-error rounded my-4" role="alert" id="errorAlert">
                    <%= error_msg %>
                  </div>
                  <% } %>
                  <% if (success_msg.length > 0) { %>
                  <div class="custom-alert-success rounded my-4" role="alert" id="successAlert">
                    <%= success_msg %>
                  </div>
                  <% } %>
                </div>
                <div class="card-body">
                  <form action="/api/v1/add-comment" method="post" id="comment-form">
                    <input type="hidden" name="postID" id="postID" value="<%- article._id  %>">
                    <div class="form-group mb-3">
                      <label for="name" class="form-label">Name</label>
                      <input type="text" name="name" id="name" placeholder="Enter your name" required class="form-control">
                    </div>
                    <div class="form-group mb-3">
                      <label for="email" class="form-label">Email</label>
                      <input type="email" name="email" id="email" placeholder="Enter your email" required class="form-control">
                    </div>
                    <div class="form-group mb-3">
                      <label for="comment" class="form-label">Comment</label>
                      <textarea name="comment" id="comment" rows="6" class="form-control" placeholder="Comment..." required></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <input type="checkbox" name="saveDetails" id="saveDetails">
                      <label for="saveDetails" class="form-label">Save my name and email in this browser for the next time I comment.</label>
                    </div>
                    <button class="btn-primary btn w-100">Comment</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const savedUserData = localStorage.getItem("userData");
    const form = document.getElementById("comment-form");
    const nameInput = document.getElementById("name");
    const emailInput = document.getElementById("email");
    const saveDetailsCheckbox = document.getElementById("saveDetails");
    if (savedUserData) {
      const userData = JSON.parse(savedUserData);
      nameInput.value = userData.name;
      emailInput.value = userData.email;
      saveDetailsCheckbox.checked = true;
    }
    form.addEventListener('submit', () => {
      const name = nameInput.value;
      const email = emailInput.value;
      const saveDetails = saveDetailsCheckbox.checked;
      if (saveDetails) {
        const userData = {
          name,
          email
        };
        localStorage.setItem("userData", JSON.stringify(userData));
      } else {
        localStorage.removeItem("userData");
      }
      saveDetailsCheckbox.checked = false;
    })
  })

  function hideAlert(alertId) {
    setTimeout(function() {
      const alertElement = document.getElementById(alertId);
      if (alertElement) {
        alertElement.style.display = 'none';
      }
    }, 10000);
  }

  if (document.getElementById('errorAlert')) {
    hideAlert('errorAlert');
  }
  if (document.getElementById('successAlert')) {
    hideAlert('successAlert');
  }
</script>