    <section>
        <div class="h-52 flex flex-col justify-center">
            <h1 id="hero-title" class="text-3xl font-extrabold text-white mb-2">
                The Journey of Self-Discovery
            </h1>
            <p id="hero-description">
                Exploring thoughts, adventures, and the art of living fully.
            </p>
        </div>
    </section>
    <div class="w-full h-[.5px] bg-white/20"></div>
    <section class="py-5">
        <% if(posts !='' ){ %>
            <div class="grid sm:grid-cols-2 grid-cols-1 gap-5">
                <% posts.forEach((data)=>{%>
                    <div
                        class="home-post-card transition-colors duration-200 ease-in-out hover:bg-neutral-900 overflow-hidden rounded-md">
                        <div class="rounded w-full aspect-video overflow-hidden">
                            <img src="<%- data.postImage.secure_url %>" alt="<%- data.postTitle%>"
                                class="h-full w-full object-cover object-center block transition-transform duration-200 ease-in-out" />
                        </div>
                        <div class="flex flex-col gap-2 p-4">
                            <a href="/category/<%- data.postCategory.name%>"
                                class="text-sm w-fit px-2 py-1 rounded border border-neutral-700 hover:bg-neutral-700 duration-200 transition-colors ease-in-out capitalize tracking-wide"><%-
                                    data.postCategory.name%></a>
                            <a href="/post/<%- data.id%>"
                                class="text-xl font-bold text-white break-words line-clamp-2 transition-colors duration-200 ease-in-out hover:text-violet-500"><%-
                                    data.postTitle%></a>
                            <p class="line-clamp-3">
                                <%- data.postContent.length> 120 ? data.postContent.slice(0, 120) +
                                    '...' : data.postContent %>
                            </p>
                        </div>
                    </div>
                    <% }) %>
            </div>
            <div class="py-5">
                <div class="flex items-center justify-between">
                    <% if (prevPage) { %>
                        <a href="?page=<%= prevPage %>"
                            class="flex items-center gap-1 text-[15px] font-medium px-2 py-1 rounded hover:bg-neutral-700 duration-200 transition-colors ease-in-out capitalize tracking-wide">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18" />
                            </svg>
                            Previous
                        </a>
                        <% } %>
                            <% if (nextPage) { %>
                                <a href="?page=<%= nextPage %>"
                                    class="flex items-center gap-1 text-[15px] font-medium px-2 py-1 rounded hover:bg-neutral-700 duration-200 transition-colors ease-in-out capitalize tracking-wide">
                                    Next
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                                    </svg>
                                </a>
                                <% } %>
                </div>
                <div class="mt-3">
                    <p class="text-sm font-medium text-center">
                        On page <%= current %> of <%= totalPages %>.
                    </p>
                </div>
            </div>
            <% }else{ %>
                <p>No Post found.</p>
                <% } %>
    </section>
    <div class="w-full h-[.5px] bg-white/20"></div>
    <section class="py-5">
        <% if(categories !="" ){ %>
            <div class="flex items-center gap-3 flex-wrap">
                <% categories.forEach((data)=>{ %>
                    <a href="/category/<%- data.name%>"
                        class="text-[15px] font-medium px-2 py-1 rounded border border-neutral-700 hover:bg-neutral-700 duration-200 transition-colors ease-in-out capitalize tracking-wide"><%-
                            data.name%></a>
                    <% }) %>
            </div>
            <% }else{ %>
                <p>No Category found.</p>
                <% } %>
    </section>
    <script src="/js/hero.section.js"></script>