<div
    class="min-h-fit md:min-h-[calc(100dvh-4rem)] h-full flex flex-col items-center justify-center  gap-4 text-center md:py-10 py-20">
    <h1
        class="text-4xl md:text-6xl lg:text-7xl font-black text-balance text-white">
        Explore the Latest Trends in Tech</h1>
    <p class="max-w-[42rem] mx-auto text-muted sm:text-xl text-balance">Discover
        Cutting-Edge Technologies, Expert Opinions, and Future Predictions</p>
    <div
        class="flex sm:flex-row flex-col items-center justify-center gap-4 w-full px-4 mt-5">
        <a href="/blogs"
            class="w-full sm:w-36 sm:py-2.5 py-3 text-balance sm:text-sm font-medium border rounded transition-colors duration-200 ease-in-out hover:bg-white hover:text-black">Start
            Reading</a>
        <a href="/subscribe"
            class="w-full sm:w-36 sm:py-2.5 py-3 text-balance sm:text-sm font-medium border rounded transition-colors duration-200 ease-in-out hover:bg-white hover:text-black">Subscribe
            Now</a>
    </div>
</div>
<div>
    <h1 class="text-2xl font-bold text-white py-2 mb-2">Latest Posts</h1>
    <div class="flex md:flex-row flex-col items-start relative md:gap-5 gap-10">
        <div class="w-full md:w-4/6 border-t border-t-white/10">
            <% if (posts.length) { %>
            <% posts.forEach((post) => { %>
            <div class="flex flex-col gap-3 py-5 border-b border-b-white/10">
                <h2 class="text-2xl font-bold group text-white ">
                    <a href="/blog/<%- post.slug %>"
                        class="line-clamp-2 group-hover:underline">
                        <%- post.title.replace(/<[^>]+>/g, '').length > 90 ? post.title.replace(/<[^>]+>/g, '').slice(0, 90) + '...' : post.title.replace(/<[^>]+>/g, '') %>
                    </a>
                </h2>
                <div class="flex items-center gap-2 flex-wrap">
                    <a href="/category/<%- post.category.name %>"
                        class="flex items-center space-x-1 text-xs font-semibold rounded p-2 transition-colors duration-200 ease-in-out bg-gray-700 text-white hover:bg-gray-800 capitalize">
                        <%- post.category.name %>
                    </a> -
                    <% if (Array.isArray(post.tags) && post.tags.length > 0) { %>
                    <% post.tags.forEach(tag => { %><a href=""
                        class="text-xs rounded p-1.5 hover:underline bg-gray-800 text-white">
                        #
                        <%- tag %>
                    </a>
                    <% }) %>
                    
                    <% } %>
                </div>
                <p class="text-muted break-words">
                    <%- post.description.replace(/<[^>]+>/g, '').length > 220 ? post.description.replace(/<[^>]+>/g, '').slice(0, 220) + '...' : post.description.replace(/<[^>]+>/g, '') %>
                </p>
                <div class="flex items-center justify-between">
                    <div class="flex items-center space-x-1 text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-4 ">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
                        </svg>
                        <span class="text-sm">
                            <%= new Date(post.createdAt).toLocaleDateString('en-US', {
month: 'long',
day: 'numeric',
year: 'numeric'
}) %>
                        </span>
                    </div>
                    <a href="/blog/<%- post.slug %>"
                        class="text-sm font-medium hover:underline text-white">
                        Read More →
                    </a>
                </div>
            </div>
            <% }) %>
            <div class="py-5 mt-5 text-end">
                <a href="/blogs"
                    class="px-3.5 py-2.5 text-sm border rounded border-white/10 text-white transition-colors duration-200 ease-in-out hover:bg-gray-800">View
                    All Blog → </a>
            </div>
            <% } else { %>
            <div class="py-10 text-center">
                <p>No Post Found</p>
            </div>

            
            <% } %>
        </div>
        <div class="w-full md:w-2/6 sticky top-20 ">
            <div class="mb-5">
                <form action="/search" method="get"
                    class="w-full md:h-10 h-12 overflow-hidden flex items-center rounded border border-white/10">
                    <input type="text" name="q" id="q" placeholder="search"
                        class="w-full h-full pl-2 bg-transparent outline-none text-white placeholder:text-sm">
                    <button
                        class="h-9 w-9 flex items-center justify-center bg-transparent"
                        title="search">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-5">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                        </svg>
                    </button>
                </form>
            </div>
            <% if (categories.length) { %>
            <div class="p-4 rounded border border-white/10 mb-5">
                <h1 class="text-xl font-medium text-white mb-2">Categories</h1>
                <div class="flex items-center gap-2 flex-wrap mt-5">
                    <% categories.forEach((cat) => { %><a
                        href="/category/<%- cat.name %>"
                        class="flex items-center space-x-1 text-xs font-semibold rounded p-2 transition-colors duration-200 ease-in-out bg-gray-700 text-white hover:bg-gray-800 capitalize">
                        <%- cat.name %>
                    </a>
                    <% }) %>
                </div>
            </div>

            
            <% } %>
            <% if (uniqueTags.length) { %>
            <div class="p-4 rounded border border-white/10 mb-5">
                <h1 class="text-xl font-medium text-white mb-2">Tags</h1>
                <div class="flex items-center gap-2 flex-wrap mt-2">
                    <% uniqueTags.forEach((tag) => { %><a
                        href="/tag/<%- tag %>"
                        class="text-xs rounded p-1.5 hover:underline bg-gray-800 text-white">
                        #
                        <%- tag %>
                    </a>
                    <% }) %>
                </div>
            </div>

            
            <% } %>
        </div>
    </div>

</div>